<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-59f1b573d880c" data-node="59f1b573d880c">
  <div class="fl-row-content-wrap">
    <div class="uabb-row-separator uabb-top-row-separator">
    </div>
    <div class="pp-row-separator pp-row-separator-top">
      <svg class="pp-big-triangle-right" xmlns="http://www.w3.org/2000/svg" version="1.1" fill="#ece9ec" width="100%" height="60"
        viewBox="0 0 2000 90" preserveAspectRatio="none">
        <polygon xmlns="http://www.w3.org/2000/svg" points="535.084,64.886 0,0 0,90 2000,90 2000,0 "></polygon>
      </svg>
    </div>
    <div class="pp-row-separator pp-row-separator-bottom">
      <svg class="pp-big-triangle-left" xmlns="http://www.w3.org/2000/svg" version="1.1" fill="#7b4974" width="100%" height="60"
        viewBox="0 0 2000 90" preserveAspectRatio="none">
        <polygon xmlns="http://www.w3.org/2000/svg" points="535.084,64.886 0,0 0,90 2000,90 2000,0 "></polygon>
      </svg>
    </div>
    <div class="fl-row-content fl-row-fixed-width fl-node-content">
      <div class="fl-col-group fl-node-59f1c3631521f" data-node="59f1c3631521f">
        <div class="fl-col fl-node-59f1c36319c52" data-node="59f1c36319c52">
          <div class="fl-col-content fl-node-content">
            <div class="fl-module fl-module-pp-testimonials fl-node-59f1b5dbafea3" data-node="59f1b5dbafea3">
              <div class="fl-module-content fl-node-content headline">
                <h2>What our Patients say</h2>
                <div class="container">


                  <input type="radio" id="i1" name="images" checked/>
                  <input type="radio" id="i2" name="images" />
                  <input type="radio" id="i3" name="images" />
                  <!-- <input type="radio" id="i4" name="images"  /> -->

                  <div class="slide_img slide-container" id="one">
                    <div class="col-md-6 col-sm-6 col-xs-12"> <img class="review-img" src="assets/images/patient-review1.jpg"></div>

                    <div class="col-md-6 col-sm-6 col-xs-12 review-text">
                      <p>"Dr Bashar is by far the BEST dentist I have ever had! His skills and gentle manner allows you to
                        completely relax, alongside the relaxing music and his calming words, he takes you on a journey that
                        you don’t want to end. I know that sounds too good to be true for a dental practice but this is something
                        you have to experience and you will never go anywhere else. The staff are extremely lovely, friendly
                        and efficient and treat you with the utmost respect and make you feel valued. Never thought I would
                        actually love going to the dentist and always look forward to my next appointment. Thanks to the
                        team for all their work and amazi ng service!"</p>
                      <h3>Sara Miran</h3>
                    </div>

                  </div>

                  <div class="slide_img" id="two">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <img class="review-img" src="assets/images/patient-review2.jpg">
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 review-text">
                      <p>"After 3 years of procrastination, I had a dental implant with Dr Bashar yesterday at Care Platinum.
                        I was terrified to have it done but the experience was amazing (and dare I say almost fun)!!! Dr
                        Bashar’s technique is one of a kind - A combination of soft music, positive imagery (and a little
                        laughing gas) and I didn’t even notice the implant going in! I was in and out of the office in 45
                        min and I experienced NO PAIN or discomfort whatsoever during or after the procedure. I was able
                        to just carry on as normal with no downtime or pain AT ALL. Please don’t hesitate to have an implant
                        or any other dental work at Care Platinum. Dr Bashar is amazing and his office is beautiful "
                      </p>
                      <h3>Christina</h3>
                    </div>

                  </div>

                  <div class="slide_img" id="three">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <img class="review-img" src="assets/images/patient-review3.jpg">
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 review-text">
                      <p>"Whatever I will say will not be enough to describe how Dr Bashar and his team changed my life.
                        I had very bad and weak teeth, I had implants and veneers & the treatment was pain-free. The team
                        have a relaxing approach by giving you time to express your worries and feelings. They explain the
                        steps of the procedure clearly and give you time to think about it. Everything went smoothly, no
                        pain, no bad surprises. Results were better than I could have imagined. I now have the natural looking
                        beautiful teeth of my dreams. Thanks to all the lovely staff at his clinic."
                      </p>
                      <h3>Aseel Ridha</h3>
                    </div>

                  </div>




                  <div id="nav_slide">
                    <label for="i1" class="dots" id="dot1"></label>
                    <label for="i2" class="dots" id="dot2"></label>
                    <label for="i3" class="dots" id="dot3"></label>
                  </div>

                </div>


                <!-- <div class="yt">
                  <a href='https://www.youtube.com/watch?v=z74ExMz-cWU' target="_blank"> See Video
                </a>
                </div> -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>