<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-59f1b464596bd" data-node="59f1b464596bd">
	<div class="fl-row-content-wrap">
		<div class="uabb-row-separator uabb-top-row-separator">
		</div>
		<div class="fl-row-content fl-row-fixed-width fl-node-content">
			<div class="fl-col-group fl-node-59f1b464944f8 fl-col-group-equal-height fl-col-group-align-center fl-col-group-responsive-reversed"
			 data-node="59f1b464944f8">
				<div class="fl-col fl-node-59f1b46494716 fl-col-small" data-node="59f1b46494716">
					<div class="fl-col-content fl-node-content">
						<div class="fl-module fl-module-pp-gallery fl-node-59f1b8ebd7428" data-node="59f1b8ebd7428">
							<div class="fl-module-content fl-node-content">
								<div class="pp-photo-gallery">
									<div class="pp-photo-gallery-item">
										<div class="pp-photo-gallery-content">
											<img class="pp-gallery-img" src="assets/images/why-special (1).jpg" alt="" data-no-lazy="1" />

											<div class="pp-gallery-overlay">
												<div class="pp-overlay-inner">
												</div>
											</div>
										</div>
									</div>
									<div class="pp-photo-gallery-item">
										<div class="pp-photo-gallery-content">
											<img class="pp-gallery-img" src="assets/images/why-special (4).jpg" alt="" data-no-lazy="1" />

											<div class="pp-gallery-overlay">
												<div class="pp-overlay-inner">
												</div>
											</div>

										</div>
									</div>
									<div class="pp-photo-gallery-item">
										<div class="pp-photo-gallery-content">
											<img class="pp-gallery-img" src="assets/images/why-special (3).jpg" alt="" data-no-lazy="1" />
											<div class="pp-gallery-overlay">
												<div class="pp-overlay-inner">
												</div>
											</div>
										</div>
									</div>
									<div class="pp-photo-gallery-item">
										<div class="pp-photo-gallery-content">
											<img class="pp-gallery-img" src="assets/images/why-special (2).jpg" alt="" data-no-lazy="1" />
											<div class="pp-gallery-overlay">
												<div class="pp-overlay-inner">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="fl-col fl-node-59f1b46494759 fl-col-small" data-node="59f1b46494759">
					<div class="fl-col-content fl-node-content">
						<div class="fl-module fl-module-rich-text fl-node-59f1b46e12066" data-node="59f1b46e12066">
							<div class="fl-module-content fl-node-content">
								<div class="fl-rich-text">
									<h2>What makes Care Dental Platinum special?</h2>
									<div></div>
									<div>
										<p>Care Dental Platinum is a multi-award winning family- run dental clinic based in Hammersmith, West London. This
											dental clinic is like no other as it has been specifically designed with <strong class="specialtext"> pure luxury,
												a 5* hotel feel and world-class treatment</strong> in mind.</p>
										<p>
											All our Dental Implant treatments are carried out at Care Dental Platinum, which is only a few doors away from The Care Dental
											Practice which makes it super convenient for you if you would like to still be seen at The Care Dental Practice
											for your routine treatments.
										</p>
										<p>Providing totally <strong class="specialtext"> pain-free dentistry </strong> combined with complete relaxation
											during dental procedures with our exclusive, award-winning and patented Enjoyable Dentistry Technique, Care Dental
											Platinum shows that patients instantly feel at ease the minute they enter the clinic. With over 100 verified Google
											5* Reviews, it has proven to be one of the top dental clinics in the UK!</p>
										<p>Investing in the latest technology including an in-house CBCT Scanner (3D Xrays) and cutting-edge equipment,
											it is now easy for our patients to make informed decisions providing them with instant educational information
											about the treatment plan.</p>
										<p>Specialising in treating nervous patients, Care Dental Platinum has won the award for Best Care and Treatment
											of Nervous Patient in the whole of the UK in 2016 and 2017, successfully creating a calm and relaxing environment
											for everyone attending the dental clinic.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>