<div class="uabb-js-breakpoint" style="display: none;"></div>
<div class="fl-page-content" itemprop="mainContentOfPage">
  <div class="fl-content-full ">
    <div class="row">
      <div class="fl-content col-md-12">
        <article class="fl-post post-4 page type-page status-publish hentry" id="fl-post-4" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
          <div class="fl-post-content clearfix" itemprop="text">
            <div class="fl-builder-content fl-builder-content-4 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="4">
              <div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-59f0620e1973a fl-visible-desktop-medium" data-node="59f0620e1973a">
                <div class="fl-row-content-wrap">
                  <div class="uabb-row-separator uabb-top-row-separator">
                  </div>
                  <div class="fl-row-content fl-row-fixed-width fl-node-content">
                    <div class="fl-col-group fl-node-59f0620e207e4" data-node="59f0620e207e4">
                      <div class="fl-col fl-node-59f0620e20a18" data-node="59f0620e20a18">
                        <div class="fl-col-content fl-node-content">
                        </div>
                      </div>
                      <div class="fl-col fl-node-59f0620e20a63 fl-col-small banner" data-node="59f0620e20a63">
                        <div class="fl-col-content fl-node-content">
                          <div class="fl-module fl-module-rich-text fl-node-59f063f24da7c" data-node="59f063f24da7c">
                            <div class="fl-module-content fl-node-content">
                              <div class="fl-rich-text">
                                <h2 style="margin-bottom: 0;">Complete Your Smile With Dental Implants</h2>
                                <h3 style="margin-top: 0;"> from £1945</h3>
                              </div>
                            </div>
                          </div>
                          <div class="fl-module fl-module-pp-iconlist fl-node-59f064b8ba934" data-node="59f064b8ba934">
                            <div class="fl-module-content fl-node-content">
                              <div class="pp-icon-list mainList">
                                <ul class="pp-icon-list-items pp-list-type-icon ">
                                  <li class="pp-icon-list-item pp-icon-list-item-0">

                                    <span class="listItem"><img src="assets/images/practicelogotranparent.png" alt=""> </span>
                                    <span class="pp-list-item-text listItem">
                                      Free Dental Implant Consultation including X-Rays</span>
                                  </li>
                                  <li class="pp-icon-list-item pp-icon-list-item-1 ">
                                    <span class="listItem"><img src="assets/images/practicelogotranparent.png" alt=""> </span>
                                    <span class="pp-list-item-text listItem">
                                      In-house 3D Dental CT Scan Available</span>
                                  </li>
                                  <li class="pp-icon-list-item pp-icon-list-item-2 ">
                                    <span class="listItem"><img src="assets/images/practicelogotranparent.png" alt=""> </span>
                                    <span class="pp-list-item-text listItem">
                                      Over 20 years of experience in Dental Implant placement</span>
                                  </li>
                                  <li class="pp-icon-list-item pp-icon-list-item-3 ">
                                    <span class="listItem"><img src="assets/images/practicelogotranparent.png" alt=""> </span>
                                    <span class="pp-list-item-text listItem">
                                      Over 6000 Dental Implants placed
                                    </span>
                                  </li>
                                  <li class="pp-icon-list-item pp-icon-list-item-4 ">
                                    <span class="listItem"><img src="assets/images/practicelogotranparent.png" alt=""> </span>
                                    <span class="pp-list-item-text listItem">
                                      Complimentary gas and air</span>
                                  </li>
                                  <li class="pp-icon-list-item pp-icon-list-item-4 ">
                                    <span class="listItem"><img src="assets/images/practicelogotranparent.png" alt=""> </span>
                                    <span class="pp-list-item-text listItem">
                                      99% Success rate</span>
                                  </li>
                                  <li class="pp-icon-list-item pp-icon-list-item-4 ">
                                    <span class="listItem"><img src="assets/images/practicelogotranparent.png" alt=""> </span>
                                    <span class="pp-list-item-text listItem">
                                      State of the art dental clinic</span>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="logos-container">
                        <img class="right-logo" src="assets/images/Private-Dentistry-logo-2016W - Copy.png" alt="">
                        <img class="right-logo2" src="assets/images/PD17-Winner-bigger.png" alt="">
                        <img class="right-logo3" src="assets/images/google-reviews-logo-practice.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="fl-row fl-row-full-width fl-row-bg-none fl-node-59f8879f1d97d fl-visible-mobile" data-node="59f8879f1d97d">
                <div class="fl-row-content-wrap">
                  <div class="uabb-row-separator uabb-top-row-separator">
                  </div>
                  <div class="fl-row-content fl-row-full-width fl-node-content">
                    <div class="fl-col-group fl-node-59f8879f3f86e" data-node="59f8879f3f86e">
                      <div class="fl-col fl-node-59f8879f3fc28" data-node="59f8879f3fc28">
                        <div class="fl-col-content fl-node-content">
                          <div class="fl-module fl-module-photo fl-node-59f887b55465e" data-node="59f887b55465e">
                            <div class="fl-module-content fl-node-content">
                              <div class="fl-photo fl-photo-align-center" itemscope itemtype="https://schema.org/ImageObject">
                                <div class="fl-photo-content fl-photo-img-jpg">
                                  <img class="fl-photo-img wp-image-201 size-full" src="assets/images/man-smiling-whitebg(1).jpg" alt="implants-bg" itemprop="image"
                                    height="1280" width="1920" title="implants-bg"  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="fl-col-group fl-node-5b4d019ee8044" data-node="5b4d019ee8044">
                      <div class="fl-col fl-node-5b4d019ee8255" data-node="5b4d019ee8255">
                        <div class="fl-col-content fl-node-content">
                          <div class="fl-module fl-module-rich-text fl-node-5b4d0199d007c fl-visible-mobile" data-node="5b4d0199d007c">
                            <div class="fl-module-content fl-node-content">
                              <div class="fl-rich-text">
                                <h1 style="margin-bottom: 0;">Complete Your Smile With Dental Implants</h1>
                                <h3 style="margin-top: 0;">from £1945</h3>
                              </div>
                            </div>
                          </div>
                          <div class="fl-module fl-module-pp-iconlist fl-node-5b4d01a1a598e fl-visible-mobile" data-node="5b4d01a1a598e">
                            <div class="fl-module-content fl-node-content">
                              <div class="pp-icon-list">
                                <ul class="pp-icon-list-items pp-list-type-icon">
                                  <li class="pp-icon-list-item pp-icon-list-item-0 mob-list-items">
                                    <span class="pp-list-item-text">
                                      <img src="assets/images/practicelogotranparent.png" alt=""> Free Dental Implant Consultation
                                      including X-Rays</span>
                                  </li>
                                  <li class="pp-icon-list-item pp-icon-list-item-1 mob-list-items">
                                    <span class="pp-list-item-text">
                                      <img src="assets/images/practicelogotranparent.png" alt=""> In-house 3D Dental CT Scan
                                      Available</span>
                                  </li>
                                  <li class="pp-icon-list-item pp-icon-list-item-2 mob-list-items">
                                    <span class="pp-list-item-text">
                                      <img src="assets/images/practicelogotranparent.png" alt="">Over 20 years of experience
                                      in Dental Implant placement
                                    </span>
                                  </li>
                                  <li class="pp-icon-list-item pp-icon-list-item-3 mob-list-items">
                                    <span class="pp-list-item-text">
                                      <img src="assets/images/practicelogotranparent.png" alt=""> Over 6000 Dental Implants
                                      placed
                                    </span>
                                  </li>
                                  <li class="pp-icon-list-item pp-icon-list-item-4 mob-list-items">
                                    <span class="pp-list-item-text">
                                      <img src="assets/images/practicelogotranparent.png" alt=""> Complimentary gas and air</span>
                                  </li>
                                  <li class="pp-icon-list-item pp-icon-list-item-4 mob-list-items">
                                    <span class="pp-list-item-text">
                                      <img src="assets/images/practicelogotranparent.png" alt="">99% Success rate
                                    </span>
                                  </li>
                                  <li class="pp-icon-list-item pp-icon-list-item-4 mob-list-items">
                                    <span class="pp-list-item-text">
                                      <img src="assets/images/practicelogotranparent.png" alt="">State of the art dental
                                      clinic
                                    </span>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <app-test></app-test>

              <div id="consultation" class="fl-row fl-row-full-width fl-row-bg-color fl-node-59f065eb4780f sticky-row" data-node="59f065eb4780f">
                <div class="fl-row-content-wrap">
                  <div class="uabb-row-separator uabb-top-row-separator">
                  </div>
                  <div class="fl-row-content fl-row-fixed-width fl-node-content">
                    <div class="fl-col-group fl-node-59f065eb5160b" data-node="59f065eb5160b">
                      <div class="fl-col fl-node-59f065eb5188c" data-node="59f065eb5188c">
                        <div class="fl-col-content fl-node-content">
                          <div class="fl-module fl-module-pp-gravity-form fl-node-59f0662c50cc7" data-node="59f0662c50cc7">
                            <div class="fl-module-content fl-node-content">
                              <div class="pp-gf-content">
                                <h3 class="form-title">
                                  Book your Free Dental Implant Consultation </h3>
                                <div class='gf_browser_gecko gform_wrapper' id='gform_wrapper_1'><a id='gf_1' class='gform_anchor'></a>
                                  <form id='gform_1'>
                                    <div class='gform_heading'>
                                      <h3 class='gform_title'>Consultation Form</h3>
                                      <span class='gform_description'></span>
                                    </div>
                                    <div class='gform_body'>
                                      <ul id='gform_fields_1' class='gform_fields top_label form_sublabel_below description_below'>
                                        <li id='field_1_1' class='gfield gf_left_third gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible'><label
                                            class='gfield_label' for='input_1_1'>fullname<span class='gfield_required'>*</span></label><div
                                            class='ginput_container ginput_container_text'>
                                            <input #name name='input_1' id='input_1_1' type='text' class='large' tabindex='100' placeholder='Name' aria-required="true"
                                              aria-invalid="false" /></div>
                                        </li>
                                        <li id='field_1_2' class='gfield gf_middle_third gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible'><label
                                            class='gfield_label' for='input_1_2'>Email<span class='gfield_required'>*</span></label><div
                                            class='ginput_container ginput_container_email'>
                                            <p class="warning">Please enter a valid email address!</p>
                                            <input #email name='input_2' id='input_1_2' type='email' class='large' tabindex='101' required placeholder='Email' aria-required="true"
                                              aria-invalid="false" />
                                          </div>
                                        </li>
                                        <li id='field_1_3' class='gfield gf_right_third gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible'><label
                                            class='gfield_label' for='input_1_3'>telephone<span class='gfield_required'>*</span></label><div
                                            class='ginput_container ginput_container_text'>
                                            <input #phonenumber name='input_3' id='input_1_3' type='tel' class='large' tabindex='102' placeholder='Phone' aria-required="true"
                                              aria-invalid="false" />
                                          </div>
                                        </li>

                                      </ul>
                                    </div>
                                    <div class='gform_footer top_label'>
                                      <input (click)="submit($event, name.value, email.value, phonenumber.value)" type='button' id='gform_submit_button_1' class='gform_button button formsubmitBtn'
                                        value='Submit' />
                                    </div>
                                  </form>
                                </div>


                                <iframe style='display:none;width:0px;height:0px;' src='index.html' name='gform_ajax_frame_1' id='gform_ajax_frame_1'>This
                                  iframe contains the logic required to handle Ajax powered Gravity Forms.</iframe>

                              </div>
                              <div class="online-booking">
                                <h3 >OR  </h3>
                                <div class="online-booking-btn">
                                  <a href="https://soe2olb.3pointdata.com/v1/view/organization/1498/index.html?pid=UKTHC01#/perspectives/3" target="_blank">
                                  <input type="button" value="Book Online"/>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="fl-row fl-row-full-width fl-row-bg-color fl-node-59f1b3839723d" data-node="59f1b3839723d">
                <div class="fl-row-content-wrap whitecomponent">
                  <div class="uabb-row-separator uabb-top-row-separator">
                  </div>
                  <div class="fl-row-content fl-row-fixed-width fl-node-content">
                    <div class="fl-col-group fl-node-59f1b383a5e22 fl-col-group-equal-height fl-col-group-align-bottom" data-node="59f1b383a5e22">
                      <div class="fl-col fl-node-59f1b383a6129" data-node="59f1b383a6129">
                        <div class="fl-col-content fl-node-content">
                          <div class="fl-module fl-module-rich-text fl-node-59f1b449d20d8" data-node="59f1b449d20d8">
                            <div class="fl-module-content fl-node-content">
                              <div class="fl-rich-text headline">
                                <h2 style="    text-align: center; margin-top: -5px">Dental Implants - The Best Solution
                                  to Missing Teeth</h2>
                                <div class="col-md-6">
                                  <p>
                                    Do you have a missing tooth or teeth? Bridges and dentures are not the only solutions to fill those gaps, thanks to advances
                                    in modern dentistry.

                                  </p>
                                  <p>
                                    Dental Implants offer a clinically proven and safe solution to getting a great smile back and being able to bite and chew
                                    with confidence.
                                  </p>
                                  <p>
                                    This is how they work: Dental implants are small titanium metal screws that are placed in the jaw bone in place of a missing
                                    tooth. Once the titanium implant is placed, crowns, bridges and dentures can be fixed
                                    onto the implants, creating a natural-looking and stable restoration.
                                  </p>
                                </div>
                                <div class="col-md-6">
                                  <div class="side-image">
                                    <video width="100%" height="100%" poster="assets/images/missingTeeth2.png" controls src="assets/videos/Dental Implants Procedure animation.mp4"></video>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="uabb-js-breakpoint" style="display: none;"></div>
          </div><!-- .fl-post-content -->
        </article>
        <!-- .fl-post -->
      </div>
    </div>
  </div>
</div>
<div class="fl-module fl-module-html fl-node-5b117ded0af61" data-node="5b117ded0af61">
  <div class=" fl-node-content">
    <div class="fl-html">
      <a class="static-button" [ngx-scroll-to-offset]="-60" [ngx-scroll-to]="'consultation'">Book a<br>Consultation</a></div>
  </div>
</div>


<div id="popup1" #popup class="overlay">
  <div class="popup">
    <div class="head">
      <img src="assets/images/practice-logo.jpg" alt="">
    </div>
    <div class="body">

      <h3>Thank you!</h3>
      <a class="close" (click)="close(popup)">&times;</a>
      <div class="content">
        <p>A member of the Care Dental Platinum team will be in touch shortly to book your Free Dental Implant Consultation!
        </p>
        <p>For any further queries, <br> please call the dental clinic on <strong> 0208 846 8534</strong> <br> or email <strong>info@thecaredentalpractice.com</strong></p>
      </div>
    </div>
  </div>
</div>