<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-59f1b464596bd" data-node="59f1b464596bd">
	<div class="fl-row-content-wrap">
		<div class="head">
			<h2>Relaxing and Pain-Free Dental Implant Treatment</h2>
		</div>
		<div class="fl-row-content fl-row-fixed-width fl-node-content">
			<div class="fl-col-group fl-node-59f1b464944f8 fl-col-group-equal-height fl-col-group-align-center fl-col-group-responsive-reversed"
			 data-node="59f1b464944f8">
				<div class="fl-col fl-node-59f1b46494716 fl-col-small" data-node="59f1b46494716">
					<div class="fl-col-content fl-node-content">
						<div class="fl-module fl-module-pp-gallery fl-node-59f1b8ebd7428" data-node="59f1b8ebd7428">
							<div class="fl-module-content fl-node-content">
								<div class="fl-rich-text headline">

									<div class="col-md-6">
										<p>
											Your implant treatment at Care Dental Platinum will be planned meticulously from the first consultation to the final crown
											fit and beyond. We have worked hard to formulate the most sophisticated treatment protocols and value pre- and
											post-operative patient care very highly. We are never more than a phone call or email away!

										</p>
										<p>
											The first stage of dental implant placement is a surgical procedure, and at Care Dental Platinum we make sure you are comfortable
											and relaxed from the minute you step into the practice and for the whole procedure with our signature Enjoyable
											Dentistry Technique™.

										</p>
										<p>
											We work with the best lab technicians to furnish you with the most effective and realistic looking crown and bridgework so
											that no one need ever know they are not real teeth.
										</p>
										<p>
											Overall, with Care Dental Platinum, you can expect a pain-free treatment, smooth after-surgery care and the highest quality
											dental work.
										</p>
									</div>
									<div class="col-md-6">
										<div class="side-image">
											<img src="assets/images/drbashar-working.png" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>